<div id="body"><%= simple_form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :date %>
  </div>
    <div class="field">
    <%= f.association :teacher, label_method: :lastname, value_method: :id, include_blank: false %>
  </div>
  <div class="field">
    <%= f.input :note1, as: :text, input_html: {style: 'height:100px; width:100px'} %>
  </div>
  <div class="field">
    <%= f.input :note2, as: :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>